<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqsMwjR4kGavBhnIlXPWuQKuJERX4sxtA</string>
	<key>GCM_SENDER_ID</key>
	<string>863112058689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS194Team3.Phrase</string>
	<key>PROJECT_ID</key>
	<string>phrase-cs194</string>
	<key>STORAGE_BUCKET</key>
	<string>phrase-cs194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863112058689:ios:bfcece649b7d233d9573c0</string>
</dict>
</plist>